<form class="ui stacked segment form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Title" type="text" name="code">
    </div>
    <div class="field">
      <label>Temperature</label>
      <input placeholder="Temp" type="text" name="Temperature">
    </div>
        <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind" type="text" name="windspeed">
    </div>
        <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure" type="text" name="pressure">
    </div>
  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>